

<div class="col-lg-4 col-md-12 formSection">
    <form id="filterForm" class="filterForm">
        <div class="col-12">
            <h1>Find A Table Now</h1>
        </div>
        <div class="form-group">
            <div class="col-12">
                <label class="filterInput" for="location">Location</label>
                <input type="text" id="inputPlaceSearch" class="form-control" placeholder="Enter a location">
            </div>
        </div>
        <div class="form-group">
            <div class="col-12">
                <label for="cuisine">Cuisine</label>
                <select name="#" id="cuisine" class="form-control">
                    <option value="japanese">Japanese</option>
                    <option value="korean">Korean</option>
                    <option value="thai">Thai</option>
                    <option value="chinese">Chinese</option>
                    <option value="taiwanese">Taiwanese</option>
                    <option value="mexican">Mexican</option>
                    <option value="italian">Italian</option>
                    <option value="french">French</option>
                    <option value="portugese">Portugese</option>
                    <option value="american">American</option>
                    <option value="indian">Indian</option>
                     <option value="british">British</option>
                    <option value="vietnamese">Vietnamese</option>
                    <option value="fusion">Fusion</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-12">
                <label for="destination">Maximum Distance (Radius)</label>
                <select name="#" id="destination" class="form-control">
                    <option value="500">500m</option>
                    <option value="1000">1km</option>
                    <option value="2000">2km</option>
                    <option value="3000">3km</option>
                    <option value="4000">4km</option>
                </select>
            </div>
        </div>
        <div class=form-group>
            <div class="col-12">
                <label for="date-start">Date</label>
                <input type="date" id="date-start" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-12">
                <input id="submitForm" type="submit" class="btn btn-primary btn-block" value="Search">
            </div>
        </div>
          <div class="col-12 logoutRedirect">
            <a href="/logout">Logout</a>
        </div>
    </form>
</div>